<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PoeSimCraft" connectionString="Persist Security Info=False;User ID=PoeSimCraftUser;Password=poepassword;Initial Catalog=PoeSimCraft;Server=poesimcraftitem.czqfmqxgizhc.us-west-2.rds.amazonaws.com,1433"/>
  </connectionStrings>
</configuration>