USE [PoeSimCraft]
GO
/****** Object:  Table [dbo].[AffixTagMap]    Script Date: 5/16/2017 8:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AffixTagMap](
	[AffixId] [int] NULL,
	[TagId] [int] NULL
) ON [PRIMARY]
GO
