USE [PoeSimCraft]
GO
/****** Object:  Table [dbo].[ItemSpawnTagMap]    Script Date: 5/16/2017 8:25:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemSpawnTagMap](
	[ItemId] [int] NULL,
	[SpawnTagId] [int] NULL
) ON [PRIMARY]
GO
